@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 6vh 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

input, select, label, button{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.header{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: #161C2D;
}

.header__title{
    font-weight: 800;
    font-size: 1.5625em;
    line-height: 34px;
    letter-spacing: -1.8px;
    text-wrap: balance;
}

.header__paragraph{
    font-weight: 500;
    font-size: 0.875em;
    line-height: 21px;
    letter-spacing: -0.2px;
    text-wrap: pretty;
}

.header__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cta{
    display: none;
}

.header__cta-fixed{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(45, 101, 254);
    border: none;
    box-shadow: 0 0 9px 3px rgba(255, 255, 255, 0.7);
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    position: fixed;
    right: 12vw;
    bottom: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.header__label{
    font-weight: 400;
    font-size: 0.8125em;
}

.header__select{
    width: 270px;
    height: 42px;
    border-radius: 8px;
    padding: 0 12px;
    border: 1px solid #9D9D9D;
    font-weight: 400;
    font-size: 14px;
    appearance: none;
    background-image: url("../assets/svg/arrow-down-s-line.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
    background-size: 24px;
}

.main{
    width: calc(100vw - 12vw);
    max-width: 1020px;
    border-radius: 16px;
    box-shadow: 0 6px 14px -6px rgba(222, 52, 19, 0.12), 0 10px 32px -4px rgba(222, 52, 19, 0.1);
    padding: 20px 10px;
    margin-bottom: 50px;
}

.main__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 300px));
    grid-auto-rows: 80px;
    gap: 6px;
    grid-auto-flow: dense;
    justify-content: center;
}

.main__grid:has(.main__item--empty.show){
    grid-auto-rows: 160px;
}

.main__grid.disappear{
    animation: disappear .5s ease-in-out forwards;
}

.main__grid.appear{
    animation: appear .5s ease-in-out forwards;
}

@keyframes disappear {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.main__item--empty{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.main__figure{
    width: 120px;
}

.main__svg{
    width: 100%;
}

.main__title{
    font-size: 0.875em;
    font-weight: 600;
}

.main__item--empty.show{
    display: flex;
}

.main__item-figure{
    height: 100%;
}

.main__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out opacity;
}

.main__img:hover, .main__img:focus{
    opacity: 0.7;
}

.tall{
    grid-row: span 2;
}

.wide{
    grid-column: span 2;
}

.large{
    grid-column: span 2;
    grid-row: span 2;
}

.footer{
    width: 100%;
    max-width: 1020px;
}

.footer__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DFDFDF;
}

.footer__figure{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__img{
    width: 45px;
    height: 45px;
}

.footer__links, .footer__socials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
}

.footer__link{
    font-weight: 400;
    font-size: 0.875em;
}

.footer__link a{
    text-decoration: none;
    color: #535353;
}

.footer__link a, .footer__link button{
    transition: .3s ease-in-out color;
}

.footer__link a:hover, .footer__link a:focus, .footer__link button:hover, .footer__link button:focus{
    color: #2D68FE;
}

.footer__link button{
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: #535353;
    cursor: pointer;
}

.footer__socials{
    gap: 10px;
}

.footer__social a{
    text-decoration: none;
    color: #3B3B3B;
    font-size: 1.3em;
    transition: .3s ease-in-out color;
}

.footer__social:first-child a:hover, .footer__social:first-child a:focus{
    color: #ff0101;
}

.footer__bottom{
    padding-top: 24px;
    text-align: center;
}

.footer__copy{
    font-weight: 400;
    font-size: 0.875em;
}

/* Modal Img */
.modal__img[open], .modal__upload[open]{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__img-button{
    position: fixed;
    right: 2vw;
    top: 2vh;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

.modal__img-card{
    width: 80%;
    max-width: 400px;
    /* min-height: 280px; */
    max-height: 450px;
    aspect-ratio: 1/1;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0 6px 14px -6px rgba(222, 52, 19, 0.12), 0 10px 32px -4px rgba(222, 52, 19, 0.1);
    border-radius: 5px;
    container-type: inline-size;
    container-name: modalImg;
}

.modal__img[open] .modal__img-card, .modal__upload[open] .modal__upload-card{
    animation: zoomIn .5s ease-in-out forwards;
}

.modal__img.closing[open] .modal__img-card, .modal__upload.closing[open] .modal__upload-card{
    animation: zoomOut .5s ease-in-out;
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    75%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(0.95);
    }
    50%{
        transform: scale(1.05);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.modal__img-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7));
    background-blend-mode: multiply;
}

.modal__img-content__title{
    font-weight: 800;
    font-size: 1.2em;
    letter-spacing: -0.8px;
}

.modal__img-content__paragraph{
    font-weight: 400;
    font-size: 0.7em;
    text-wrap: pretty;
}

.modal__img-content__button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    color: #fff;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out transform;
    border: none;
    cursor: pointer;
}

.modal__img-content__button--download{
    background-color: #19AB4F;
    right: 55px;
}

.modal__img-content__button--remove{
    background-color: #FD3D39;
}

.modal__img-content__button:focus, .modal__img-content__button:hover{
    transform: scale(1.05);
}

/* Modal Form */
.modal__upload-card{
    width: 80%;
    max-width: 560px;
    max-height: 450px;
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 6px 14px -6px rgba(222, 52, 19, 0.12), 0 10px 32px -4px rgba(222, 52, 19, 0.1);
    color: #161C2D;
    scrollbar-color: #f2f2f2 transparent;
    scrollbar-width: thin;
    container-type: inline-size;
    container-name: modalForm;
}

.modal__upload-title{
    font-size: 1.25em;
    font-weight: 500;
    line-height: 150%;
}

.modal__upload-button{
    border: none;
    background-color: transparent;
    font-size: 1.25em;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.modal__form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.modal__form-container{
    min-height: 150px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #B1BFD0;
    border-style: dashed;
    cursor: pointer;
}

.modal__form-figure{
    width: 74px;
}

.modal__form-figure img{
    width: 100%;
}

.modal__form-container .modal__form-label{
    font-size: 0.875em;
    font-weight: 400;
    line-height: 150%;
}

.modal__form-span{
    font-size: 0.75em;
    font-weight: 400;
    line-height: 150%;
    color: #969DB2;
}

.modal__form-line{
    border: 1px solid #E8EBF2;
}

.modal__form-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__form-field .modal__form-label{
    font-weight: 500;
    font-size: 0.875em;
    line-height: 21px;
}

.modal__form-input, .modal__form-select{
    height: 42px;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    background-color: transparent;
    padding: 0 12px;
    transition: .3s ease-in-out background-color, .3s ease-in-out border;
}

.modal__form-input:focus-visible, .modal__form-select:focus-visible{
    outline: none;
}

.modal__form-input:focus, .modal__form-select:focus, .modal__form-input:active, .modal__form-select:active{
    background-color: rgba(43, 75, 242, 0.06);
    border: 1px solid #6499FF;
}

.modal__form-select{
    appearance: none;
    background-image: url("../assets/svg/arrow-down-s-line.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
    background-size: 16px;
}

.modal__form-counter{
    color: #969DB2;
    font-size: 0.675em;
}

.modal__form-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.modal__form-button{
    height: 35px;
    padding: 0 16px;
    border: 1px solid rgba(26, 26, 26, 0.18);
    border-radius: 6px;
    background-color: transparent;
    font-weight: 500;
    line-height: 22px;
    color: #161C2D;
    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.08);
    cursor: pointer;
    transition: .3s ease-in-out transform;
}

.modal__form-button:hover, .modal__form-button:focus{
    transform: scale(1.05);
}

.modal__form-button--primary{
    background-color: #2D68FE;
    color: #fff;
    border: none;
}

/* Responsive */

@container modalImg (min-width: 300px){
    .modal__img-content__title{
        font-size: 1.5em;
    }

    .modal__img-content__paragraph{
        font-size: 0.875em;
    }
}

@container modalImg (min-width: 410px){
    .modal__img-content__title{
        font-size: 2em;
    }

    .modal__img-content__paragraph{
        font-size: 1em;
    }

    .modal__img-content__button{
        width: 40px;
        height: 40px;
        font-size: 1.25em;
    }
}

@media screen and (min-width: 600px) {
    .header__title{
        font-size: 2em;
    }

    .header__paragraph{
        font-size: 1em;
    }

    .main__title{
        font-size: 1em;
        font-weight: 600;
    }

    .modal__upload-card{
        padding: 30px 40px;
    }
}

@media screen and (min-width: 768px) {
    .header__title{
        font-size: 3em;
        line-height: 54px;
    }
    
    .header__paragraph{
        font-size: 1.1875em;
        line-height: 32px;
    }

    .header__wrapper{
        gap: 24px;
        align-items: end;
    }
    
    .header__cta{
        display: inline;
        width: 170px;
        height: 42px;
        border-radius: 8px;
        background-color: #2D68FE;
        color: #fff;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transition: .3s ease-in-out transform;
    }

    .header__cta:hover, .header__cta:focus{
        transform: scale(1.05);
    }
    
    .header__cta-fixed{
        display: none;
    }
    
    .header__label{
        font-size: 0.875em;
    }
    
    .header__select{
        width: 340px;
        font-size: 1em;
    }

    .main{
        padding: 25px 30px;
    }
    
    .main__grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 200px;
        gap: 16px;
    }
    
    .footer__top{
        gap: 24px;
    }
    
    .footer__figure{
        width: 80px;
        height: 80px;
    }
    
    .footer__img{
        width: 65px;
        height: 65px;
    }
    
    .footer__socials{
        gap: 14px;
    }
    
    .footer__social a{
        font-size: 1.5em;
    }
}